{% extends "layout.html" %}
{% block content %}
<div style="text-align: center;">
<div class="container">

    <form action="/uploader" method="POST" enctype="multipart/form-data">
    <input type="file" name="archivo">
    <input type="submit">
    </form>
</div>
    </div>
<img src="https://ceo-insight.com/wp-content/uploads/sites/3/2019/02/artificial-intelligence-3685928_960_720-2.png" alt="ML">

{% endblock %}