<!DOCTYPE html>
<html lang="en">


<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Deep Learning</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">



</head>
<body background="https://bs-uploads.toptal.io/blackfish-uploads/blog/post/seo/og_image_file/og_image/16962/2901_01_Machine-Learning_Dan_cover-a3b0d1a0932057bbb4272c6c8feba197.png" bgcolor="FFCECB">



<body>


<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('upload_file')}}">Reconocimiento Facial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('upload_file')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">Prueba</a>
      </li>

    </ul>
  </div>
</nav>



<div class="container p-4">
  {% block content %}
     {% endblock %}
</div>




</body>
</html>





