{% extends "layout.html" %}
{% block content %}

<h1>RESULTADOS</h1>



<div style="text-align: center;">

<img src="https://www.flaticon.es/premium-icon/icons/svg/260/260765.svg" width="250" height="200" alt="RS">

</div>
    <t2> {{ resultados }}</t2>

<div style="text-align: right;">
    <a href=" http://localhost:6006/" title="Tensorboard"> Tensorboard </a>
</div>




{% endblock %}