{% extends "layout.html" %}
{% block content %}


<div class="jumbotron">
  <h1 class="display-4">Deep Learning</h1>
  <p class="lead">Aprendizaje profundo (en inglés, deep learning) es un conjunto de algoritmos de aprendizaje automático (en inglés, machine learning) que intenta modelar abstracciones de alto nivel en datos usando arquitecturas computacionales que admiten transformaciones no lineales múltiples e iterativas de datos expresados en forma matricial o tensorial.</p>
  <hr class="my-4">
  <p>Intentaremos dar paso a la prueba de reconocimiento facial.</p>
  <a class="btn btn-primary btn-lg" href="{{url_for('about')}}" role="button">Empezar</a>
</div>

<a href=" http://localhost:6006/" title="Tensorboard"> Tensorboard </a>


 <!--<img src=" C:/Users/juank/PycharmProjects/Reconoc_Facial/Face Tensor/templates/Archivos IMG/1.jpg " height="500" width="500" alt="W3Schools.com">-->




{% endblock %}
